<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="overlayService.removeAll()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          NOBLE Capital Markets, Inc (Noble) sponsors NobleCon as an informational service and networking opportunity
          for public companies and investors. Noble does not prepare, review or edit the presentations and other information
          provided by each company, and does not take any responsibility for accuracy or adequacy of any such information as the
          basis for any investment decision. Noble is not providing any person with any investment advice through their participation
          in or attendance of the Conference, nor is Noble soliciting any offers to buy or sell any security of any company.
        </p>
      </div>
    </div>
  </div>
</div>