.header {
    .header-text {
        font-size: 2vw;
        margin-bottom: 0;
    }
    height: 5vw;
    display: flex;
    align-items: center;
    padding: 20px;
    background: #f5f5f5;
    margin-top: 4.8vw;
    border-bottom: 1px solid #ccc;
}

.main {
    min-height: 100vh
}

.side-menu {
    padding-top: 2vw;
    width: 100%;
    border-right: 1px solid #ccc;
    height: 100%;
}

.content-outlet {
    padding: 1.5vw;
    padding-top: 2vw;
}

.content-body {
    margin-bottom: .5vw;

    div {
        min-height: 40px;
        display: flex;
        align-items: center;
    }
}

.content-header {
    border-bottom: 1px solid #ccc;
    height: 50px;
    display: flex;
    align-items: center;

    div {
        font-weight: bold;
    }
}

.content-div {
    margin-top: 20px;
}

.table-actions {
    display: flex;
    justify-content: flex-end;
}

#loading {
    text-align: center;
    height: 80%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
