<div>

  <div class="container-fluid">

    <div class="channel-cast-header">
      <img class="img-fluid px-3" src="assets/images/learn_channel_cast.png"/>
    </div>

    <div class="channel-cast-body">

      <p class="text-justify">
        We’ve teamed with the award-winning technology of Sonic Foundry to bring high-definition, video webcasts to
        Channelchek. Each Channelcast is full-screen expandable with split screen capabilities for PowerPoint or other
        corporate features. We are currently building a calendar of Channelcasts which will begin to publish shortly.
        But to get a taste for what you’re in for, we’ve loaded the webcasts from the last NobleCon held in January,
        2018. NobleCon is Noble Capital Markets’ large-scale investor conference held every year. NobleConXV will be
        held at the W Fort Lauderdale Beach, Florida, January 28-29, 2019. Investors are welcome to attend.
      </p>

      <p class="text-center">
        <a  href="javascript:void(0)"(click)="openDialog('https://www.nobleconference.com/ ')">More about NobleConXV</a> | <a href="javascript:void(0)" (click)="openDialog('http://noble.mediasite.com/mediasite/Catalog/catalogs/noblecon14')">Watch Webcasts from the last NobleCon</a>
      </p>

    </div>

  </div>
</div>
