<div>

  <div class="container-fluid">

    <div class="favorites-header">
      <a href="javascript:void(0)" (click)="register()"></a>
      <img class="img-fluid px-3" src="assets/images/learn_favorites.png"/>
    </div>

    <div>

      <p class="text-justify">
        Making decisions regarding emerging growth companies involves research. Due diligence. And it takes time. You
        can add (or remove) companies in your favorites by clicking the tab at the right corner of each company’s
        detailed description, or hover and right-click over the company on the listing pages. Hit the top right “Expand”
        icon in the My Favorites section to bring you to the details concerning “your” companies. You can sort by any
        criteria – price, market cap, etc. - by hover-and clicking on the grey title band. So go ahead and start your
        research. Explore, probe and discover companies from the vast universe of Channelchek emerging growth companies.
        It’s a piece of cake.</p>

    </div>

  </div>
</div>
