<div>

  <div class="container-fluid">

    <div class="channel-cast-header">
      <img class="img-fluid" src="assets/images/learn_meet_management.png"/>
    </div>

    <div class="meet-management-body">

      <p class="text-justify">
        At the heart of every great company is strong management. And the quality of management could not be more
        important than when considering emerging growth companies. This is you opportunity to enjoy lunch with
        management teams from featured companies on Channelchek. At no cost or pressure to buy anything. Get an overview
        of the past, present and the company’s future plans to grow the company and reward its shareholders. Ask
        questions, evaluate the answers. Nothing beats face to face.
      </p>

      <p class="text-justify">
        We’ll be arranging meetings all across the country in private rooms in fine dining establishments. If there’s a
        Capital Grille, Ruth’s Chris and/or Morton’s in your area, we’ll likely be there at times throughout the year.
        If you would like to be considered among the first to attend these events, let us know now. And get ready to
        meet the management of some of the exciting Channelchek companies.
      </p>

      <p class="text-center">
        <a  href="javascript:void(0)"(click)="openDialog('https://noblelinx.com/channelchek_meet.htm')">Get Notification about our Meet the Management Events</a>
      </p>

    </div>

  </div>
</div>
