@mixin box-shadow($props...) {
  -webkit-box-shadow: $props;
  -moz-box-shadow: $props;
  box-shadow: $props;
}

@mixin border-radius($props...) {
  -webkit-border-radius: $props;
  -moz-border-radius: $props;
  border-radius: $props;
}

@mixin transition($props...) {
  -webkit-transition: $props;
  -moz-transition: $props;
  transition: $props;
}

@mixin transform($props...) {
  -webkit-transform: $props;
  -moz-transform: $props;
  transform: $props;
}

@mixin transform-origin($props...) {
  -webkit-transform-origin: $props;
  -moz-transform-origin: $props;
  transform-origin: $props;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
