<rom-noble-box imgSrc="assets/images/noblecon.png" [links]="links">
  <p class="mt-4">
    <!-- <span class="font-weight-bold">
      NobleCon15 will be held January 28-29, 2019 at the W Fort Lauderdale Beach, Florida. Institutional investors, self-directed investors,
      Registered Investment Advisors, family offices and independent brokers are welcome to attend.
    </span>
    Now in its 15th year, NobleCon will feature approximately 135 emerging growth companies (all listed on channelchek) to present and
    meet with investors over the two day conference. In addition, participants can attend panel presentations hosted by key opinion leaders
    discussing some of today's most important topics, and enjoy networking at NobleCon social mixers.
  </p> -->

  <span class="font-weight-bold">
  Improve your 2020 vision. Institutional investors, self-directed investors, 
  Registered Investment Advisors representatives, family offices and independent brokers are welcome to attend.</span>
  In its 16th year, NobleCon will feature approximately 135 emerging growth companies (all listed on channelchek) 
  to present and meet with investors over the two day conference. In addition, participants can attend panel 
  presentations hosted by key opinion leaders discussing some of today's most important topics, and enjoy networking 
  at NobleCon social mixers. Plan to attend. And find out why NobleCon is the ultimate adventure in capitalism.<br>
  <span class="font-weight-bold">
    Watch for details coming soon.
  </span>
</p>
</rom-noble-box>

