<form [formGroup]="setupPwdForm" (submit)=onSetupPassword($event) #setupPwdFormDir="ngForm" class="row justify-content-center no-gutters">

  <div class="form-group col-8 mb-0">

    <div class="text-success mb-2">{{ successMsg }}</div>

    <input
      type="input"
      class="form-control px-2 py-0"
      placeholder="Enter Password"
      id="password"
      name="password"
      formControlName="frmPassword"
      required >

    <div class="form-control-feedback" *ngIf="setupPwdForm.invalid && setupPwdForm.dirty; else spacerNew">
      <span class="text-danger" *ngIf="setupPwdForm.controls['frmPassword'].hasError('required')">Password is required</span>
      <span class="text-danger" *ngIf="setupPwdForm.controls['frmPassword'].hasError('password')">Password should be at least 8 - 15 characters</span>
    </div>

  </div>

  <ng-template #spacerConfirm><div class="mb-2"></div></ng-template>
  <ng-template #spacerNew><div class="mb-2"></div></ng-template>
</form>
