<rom-box-header romBgHeader="rom-bg-dark-purple" romTitle="&nbsp;">
  <rom-initial-tree class="rom-box-header-body">
    <div class="rom-tree-body px-3">
      <p class="text-white line-height-font xx-large mt-3">
        <u>CHECK YOUR EMAIL</u>
      </p>
      <p class="font-weight-light mt-2 text-white xx-large line-height-medium">
        We've sent you an email. You are just seconds away from experiencing Channelchek.
        Your security is important to us so we need this last step to make sure your account is 
        readily identifiable by you. And only you...
      </p>
    </div>
    <a class="rom-tree-btn px-0" routerLink="/login">
      <rom-ico-txt-btn>
        <i class="rom-ico-txt-content rounded-circle rome-ico-check rom-text-kimberly rom-bg-mischka xx-large align-middle"></i>
        <span class="rom-ico-txt-label">YOU'RE JUST ONE CLICK AWAY</span>
      </rom-ico-txt-btn>
    </a>
  </rom-initial-tree>
</rom-box-header>
