.main-form-group {
    .form-check {
        font-size: 1.3vw;
        margin-right: 2vw;
    }
}

.form-check {
    font-size: 1.1vw;

    .form-check-label {
        padding-left: 0.5vw;
    }
}

ol {
    li {
        padding-left: 1vw;
        margin-bottom: 0.5vw;
    }
}

* {
    transition: 0.3s all linear;
}


label.required:after {
  content: " *";
  color: red;
}
.ng-invalid{
  border-color: #a94442;
}

.ng-valid{
  border-color: rgb(5, 168, 27);
}
