<rom-box-header romBgHeader="rom-bg-dark-purple" romTitle="&nbsp;">
  <rom-initial-tree class="rom-box-header-body">
    <div class="rom-tree-body">
      <h4 class="font-weight-normal line-height-font my-3 rom-text-lightning-yellow text-center large-letter-spacing">Congrats {{ name | titlecase }}</h4>
      <p class="font-weight-light xm-large px-2 text-white text-center line-height-xm-large">
        All you need to do is choose your password and you're ready to go.
      </p>
      <rom-change-password-form class="dark-password" (passwordChanged)="onSetupPassword($event)" [submit]="submitObservable"></rom-change-password-form>
      <p class="text-center text-white large">
        <!--u class="rom-text-lightning-yellow">Getting the most out of channelchek</u><br-->
        <span class="mt-2">NOTE: Your email address is your username.</span><br>
      </p>

      <div class="row justify-content-center">
        <div class="col-4">
          <button class="btn btn-secondary" style="min-width: 6vw">
            LATER
          </button>
        </div>
        <div class="col-4">
            <button (click)="onSetupPassword($event)" class="btn btn-secondary" style="min-width: 6vw">
              ENTER
            </button>
        </div>
      </div>
    </div>
    <!--
    <rom-ico-txt-btn class="px-0 rom-tree-btn" (click)="onSetupPassword($event)">
      <i class="rom-ico-txt-content rome-ico-play xx-large"></i>
      <span class="rom-ico-txt-label">
        <span class="xx-large">SUBMIT</span>
        <span class="x-large ml-1">password</span>
      </span>
    </rom-ico-txt-btn>
    -->
    <!--
    <rom-ico-txt-btn class="px-0 rom-tree-btn" (click)="submitObserver.next(null)" #SubmitButton>
      <i *ngIf="!isLoading" class="rom-ico-txt-content rome-ico-play xx-large"></i>
      <span *ngIf="!isLoading" class="rom-ico-txt-label xx-large">SUBMIT</span>
      <span *ngIf="!isLoading" class="x-large ml-1">password</span>
      <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-fw rom-ico-txt-content" style="margin-left:130px"></i>
    </rom-ico-txt-btn>
    -->
  </rom-initial-tree>

</rom-box-header>
