@import "~styles/mixins";
@import "~styles/variables";

input {
  @include placeholder {
    color: $rom-minsk;
  }
}

.line-height-xm-large{
    line-height: 1.5 !important;
}
.center-div{
    margin: 0 auto;
    width:100%;
}

.bgcolor-purple{
    background-color: #2f3280;
}

.special-font{
    color: #FFC900;
    background-color: #2f3280;
    text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}

.fa-spinner {
    font-size:23px;
}
