<rom-box-header romBgHeader="rom-bg-minsk" romTitle="Offerings">

  <rom-noble-box imgSrc="assets/images/offerings.png" class="rom-box-header-body">
    <div class="px-3">
      <p>
        Channelchek may, from time to time, post opportunities to invest directly in companies featured on this site,
        through private placements and other investment banking offerings managed or co-managed by Noble Capital
        Markets, Inc. (Noble). Actual listing of offering (company name, size of offering, etc.) will not appear on this
        site and will only be made available directly to "accredited investors." Also, in order to assess suitability of
        investments offered, Noble will require considerably more information from you.
      </p>
      <br>
      <p class="text-center">
        <a href="javascript:void(0)" (click)="openDialog('https://noblelinx.com/channelchek_accredited.htm')">Find out
          More About Accredited Investor Requirements </a>
      </p>
    </div>
  </rom-noble-box>
</rom-box-header>
