<rom-box-header romBgHeader="rom-bg-minsk" romTitle="The Great College Challenge">
  <rom-noble-box imgSrc="assets/images/college-contest.png" class="rom-box-header-body">
    <div class="px-3">
      <p>
        <strong>Attention Students:</strong> Registration is now open for the Great College Challenge! There are two opportunities to win: Challenge One is based on a written equity research report, and Challenge Two is based on the performance of a mock-portfolio of emerging growth companies featured on Channelchek. If you’re a current student of an institution of higher learning - four-year postsecondary educational institute, community college, vocational school, trade school or other career colleges that award academic degrees or professional certifications. – <strong>you could win a five-figure cash prize, attend the annual NobleCon equity conference (featuring up to 130 public company executive teams, ring the NASDAQ bell and more. There is no cost or fee to enter, so register and start probing on Channelchek today!</strong>
      </p>

      <p>
        <strong>Introduction</strong><br>
        The Great College Challenge is a competition based on research of emerging growth companies featured on Channelchek. Emerging growth companies represent the best of American ingenuity. And millennials represent the next generation of leaders. The Challenge encourages our future heads of industry to explore, probe and discover the companies that are poised for success. The underfollowed, misunderstood and the undiscovered corporations that may represent the cure for disease or the next disruptive technology.
      </p>

      <p>
        So buckle down. Use Channelchek and every resource available in our extraordinarily resourceful world. Take the challenge of a lifetime!
      </p>

      <strong>Challenge One - Create an Equity Research Report</strong>

      <p>
        Equity research is at the heart of good decision making when it comes to selecting investible companies. And the best research on Wall Street employs channel checks – and that’s why we call this portal Channelchek. A channel check is when the research analyst gathers information from all available sources including probing into the company’s distribution channels; understanding the company from the perspective of their customers. So start with Channelchek and use every other resource available in our extremely resourceful world. Pick any company on Channelchek and start digging!
      </p>

      <p>
        The winning report will follow the established Wall Street format including the following components: Business Description, Headline & Front-Page Bullet Points (executive summary), Investment Appraisal, Industry Overview & Competitive Position, Financial Analysis, Management & Corporate Governance Overview, Stock Valuation, and Risk Assessment.
      </p>

      <p>
        The winner will be determined by a team of senior equity research analysts at Noble Capital Markets, based on scoring of each section of the report. Judges are FINRA (Financial Industry Regulatory Authority) certified Series 86, 87, and 7 analysts with industry accreditations including “Best on the Street” as determined by the Wall Street Journal Survey, Starmine ranked, and/or Institutional Investor (II) ranked. The analysts have an average of 27 years-experience in the equity markets.
      </p>

      <p>
        Official rules and guidelines together with the list of prizes will be available in late November, 2018. Students are encouraged to register NOW and start formulating strategies. Registration closes December 21, 2018 with research report submissions due February 28, 2019; the winner will be announced March 27, 2019.
      </p>

      <strong>Challenge Two - Build a winning investment portfolio</strong>
      <p>
        Results speak for themselves. Simply, the student who creates a mock-portfolio with the largest gains over the period of about one-year wins! Each contestant will be given one million Channelbucks (no actual cash value) to invest in companies from the Channelchek portal.
      </p>

      <p>
        Official rules and guidelines will be available on mid-December, 2018. Students are encouraged to register NOW and start doing the research on Channelchek.
      </p>

      <p>
        Challenge Two will officially begin January 28, 2019 and runs through January 2020. The winner will be announced on January 15, 2020. Among other things, the winner will receive an all-expense-paid trip to NobleCon XVI and a cash-prize of $20,000 which can be used to further his or her education or help pay-off an established student loan.
      </p>

      <p>
        Watch for more details coming soon… but for now let us know that you want to be part of the Great College Challenge!
      </p>

      <p class="text-center">
        <a  href="javascript:void(0)"(click)="openDialog(' https://noblelinx.com/channelchek_college.htm')">Register here</a>
      </p>

      <br>

    </div>
  </rom-noble-box>
</rom-box-header>
