@import "~styles/variables";
@import "~styles/mixins";

.container-fluid:nth-child(2) {
  flex: 1 1 auto;
  overflow-y: scroll;
}

.companies-body {
  font-size: .90vw;
  rom-rating {
    width: 10%;
  }

  & > .row {
    border-top: 1px solid $rom-alto;

    &:last-child {
      border-bottom: 1px solid $rom-alto;
    }

    &:first-child > div {
      &:first-child, &:nth-child(n+1):not(:last-child) {
        border-right: 1px #fff solid;
      }
    }
  }

  &:hover, &:focus {
    & > .row {
      &:last-child {
        background-color: $rom-alto;
      }

      &:first-child div {
        &:first-child, &:nth-child(2) {
          background-color: $rom-dark-orchid !important;
        }
        &:nth-child(n+3) {
          background-color: $rom-caribbean-green !important;
        }
      }

      border-bottom-color: $rom-gray-suit !important;
      border-top-color: $rom-gray-suit !important;
    }
  }
}

.companies-header, .companies-body {
  & > .row:first-child > * {
    &:nth-child(2) {
      width: 15%;
    }
    &:nth-child(3) {
      width: 13%;
    }
    &:nth-child(5) {
      width: 11%;
    }
    &:nth-child(6) {
      width: 12%;
    }
  }
}

.companies-header {
  border-right: $rom-scrollbar-width solid #fff;
  & > .row {
    border-top: 1px solid $rom-alto;

    &:last-child {
      border-bottom: 1px solid $rom-alto;
    }

    &:first-child > rom-sort {
      &:first-child, &:not(:last-child) {
        border-right: 1px white solid;
      }
    }
  }
}

img {
  &.discover-logo, &.probe-logo {
    width: 5.5vw;
    margin-left: 5.5vw;
  }
  &.explore-logo {
    width: 4.6vw;
    margin-left: 6vw;
  }
}

.f1{
   //font-size: 1vw;
  //font-weight: bold;
  color: #fff;
  background-color: #B2B2B2;
}

.rating{
  font-weight: bold;
  font-size: .8vw;
  color: #28a745;
}

.btn-market-data {
  color: white;
  font-size: 0.7vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.1vw 0.55vw !important;
  z-index: 500;
  i {
    font-size: 1.2vw !important;
    margin-right: 0.5vw;
  }
}


div.bg-footer{
  //height:40px;
  position:relative;
  background-color:#2e2e82;

}

rom-pagination{
  position:relative;
  //top: 7px;
  color: #fff;
}

select::-ms-expand {
  display: none;
}

select {
  font-size: 10px;
  border-radius: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-color:white;
  color: black;
  width: 120px;
  height: 30px !important;
  margin-top: -10px;
  margin-left: -10px;
}
.selectdiv::after {
  content: '\f107';
  font: normal normal normal 14px FontAwesome;
  color: black;
  // background-color:white;
  margin-left: -20px;
  pointer-events: none;
}


