<rom-box-header romBgHeader="rom-bg-minsk" romTitle="About">
  <rom-noble-box imgSrc="assets/images/about.png" class="rom-box-header-body">
    <p align="center"><a href="https://noblelinx.com/channelchek_intro.htm"><strong>WATCH IT NOW</strong></a></p>
    <div class="px-3">
      <p>
        Emerging growth companies represent the best of American ingenuity. For almost two decades, that celebration of innovation has been systematically replaced with obscurity through the implementation of waves of regulatory controls…. caused by some very large companies doing some very wrong things. But it’s the smallest companies that have suffered the most. Wall Street analysts are dropping equity research coverage of small / micro-cap names at alarming rates. In the United States more than 50%* of companies with market caps of $250 million or below have no analyst coverage at all. And even if they do have coverage, that research is often only made available to institutions. Turn on the financial networks and you’ll hear about the companies that are already there, not the ones that may be on their way. That’s where Channelchek comes in.
      </p>
      <p>
        Channelchek is the source for news and views on the companies that have lost their voices. Channelchek is an innovation of Noble Capital Markets (Noble), a company that has supported emerging growth companies for more than 30 years through independent equity research, investment banking and equities trading services. Channelchek is Noble’s newest initiative in support of the companies that you may never have heard of, yet may become the source of future growth, employment, innovation and prosperity.
      </p>
      <p>
        Companies are categorized on Channelchek as being Explore, Probe or Discover companies. Generally, the Explore category provides the least amount of information about the company, while the Discover category offers the most; the Probe category falls somewhere in the middle. Specifically, the categories provide the following:
      </p>
      <p>
        Explore – Company news releases, SEC filing, corporate profile, financial data and securities data.
      </p>
      <p>
        Probe - Company news releases, SEC filing, detailed corporate profile, financial data, securities data, Probe reports and corporate presentation.
      </p>
      <p>
        Discover - Company news releases, SEC filing, comprehensive corporate profile, financial data, securities data, sector reports, Discover research reports with price target and fundamentals analysis, ChannelCASTS (HD video webcasts), Meet the Management “road shows,” and the company’s corporate presentation.
      </p>
      <p>
        The "Discover" and "Probe" levels of participation on Channelchek currently have the smallest number of companies as it involves detailed analytical reviews. Expect a steady flow of companies added to this these levels as Discover research is “initiated” and Probe reports are released. Expect notifications for all initiations and releases.
      </p>
      <p>
        <strong>There is no cost for you to explore, probe or discover companies on Channelchek.</strong>
      </p>
      <p>
        *Source Capital IQ
      </p>
    </div>
  </rom-noble-box>
</rom-box-header>