<rom-noble-box imgSrc="assets/images/noble.png" [links]="links" class="rom-box-header-body">
  <p class="mt-4">
    <span class="font-weight-bold">Noble Capital Markets (Noble) is a full service S.E.C. / FINRA broker dealer incorporated in 1984.</span>
    Since that time, Noble has focused on the support of emerging growth companies through the publishing of equity research, merchant
    and investment banking as well as securities trading activities. Channelchek is the initiative of Noble, with the objective of
    raising awareness of companies that are often overlooked, underfollowed, misunderstood or orphaned. Noble's head office is in Boca
    Raton with satellite offices in NYC, Boston and St. Louis.
  </p>
</rom-noble-box>
