<rom-box-header romBgHeader="rom-bg-dark-purple" romTitle="&nbsp;">
  <rom-initial-tree class="rom-box-header-body">
    <div class="rom-tree-body row align-items-center h-50">
      <div class="col">
        <div class="text-light">PASSWORD RESET</div>
        <div>
          <span class="text-danger"><small>{{ accountFailedMsg }}</small></span>
        </div>
        <div class="row">
          <span>&nbsp;</span>
          <span>&nbsp;</span>
        </div>
        <div *ngIf="visible==false">   
          <div class="text-light">
            <span>
              Enter your Channelchek username (email address you used to register). We’ll send you an email with a link to reset your password.
            </span>
          </div>
        </div>
        <div *ngIf="visible==true">   
          <div class="text-light">
            <span>
                {{ accountSuccessMsg }} 
            </span>
          </div>
        </div>
  
        <div class="row">
          <span>&nbsp;</span>
        </div>

        <form [formGroup]="accountForm" (submit)=onReset($event) class="mt-1">
          <div class="form-group">
            <input 
              type="text" 
              class="form-control form-control-sm" 
              placeholder="Email" 
              id="username"
              name="username"
              formControlName="emailAddress"
              [(ngModel)]="username" required>
          </div>
          <div *ngIf="visible==false">
            <div class="row">
                  <div class="col-3 col-centered">
                    <button type="submit" [disabled]="disabled" class="btn btn-secondary">
                      <!--img src="assets/images/submit_arrow.png" class="img-responsive" style="max-height: 25px;" /-->
                      <Strong>Reset</Strong>
                    </button>
                  </div>
            </div>
          </div>  
        </form>
      </div>
    </div>
  </rom-initial-tree>  
</rom-box-header>
  