<rom-box-header romBgHeader="rom-bg-dark-purple" romTitle="&nbsp;" *ngIf="!responsiveService.isMobile; else mobilePass">
  <rom-initial-tree class="rom-box-header-body">
    <div class="align-items-center h-70 rom-tree-body row">
      <div class="col">

        <div class="text-left x-large py-4 text-light">
          Reset Password
        </div>
        <!--<p class="font-weight-light xm-large px-2 text-white text-center line-height-xm-large"></p>-->
        <form [formGroup]="changePwdForm" #changePwdFormDir="ngForm" (submit)="onChangePassword($event)">


          <div class="form-group">
            <label class="text-white">Password</label>
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Enter New Password"
              id="password"
              name="password"
              formControlName="frmPassword"
              required
            >

            <div class="form-control-feedback"
              *ngIf="changePwdForm.invalid && changePwdFormDir.submitted; else spacerNew">
              <span class="text-danger" *ngIf="changePwdForm.controls['frmPassword'].hasError('required') || changePwdForm.controls['frmPassword'].hasError('blank')">Password is required.</span>
              <span class="text-danger" *ngIf="changePwdForm.controls['frmPassword'].hasError('password')">Password should be 8 - 15 characters.</span>
            </div>
          </div>
          <ng-template #spacerNew>
            <div class="mb-4"></div>
          </ng-template>

          <ng-template #spacerConfirm>
            <div class="mb-3"></div>
          </ng-template>
          <!--<input type="submit" style="display: none;">-->

          <div class="row justify-content-center">
            <div class="col-4">
              <button type="submit" class="btn btn-secondary" style="min-width: 6vw">
                Submit
                <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
              </button>
            </div>
          </div>

        </form>
        <p class="text-center text-white large my-3">
          <!--u class="rom-text-lightning-yellow">Getting the most out of channelchek</u><br-->
          <span class="mt-2 small">NOTE: Your email address is your username.</span><br>
        </p>
      </div>
    </div>
    <!--<rom-ico-txt-btn class="px-0 rom-tree-btn"  #SubmitButton>-->
    <!--<i *ngIf="!isLoading" class="rom-ico-txt-content rome-ico-play xx-large"></i>-->
    <!--<span *ngIf="!isLoading" class="rom-ico-txt-label xx-large">SEND</span>-->
    <!--<i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-fw rom-ico-txt-content" style="margin-left:130px"></i>-->
    <!--</rom-ico-txt-btn>-->
  </rom-initial-tree>

</rom-box-header>

<ng-template #mobilePass>
  <div class="row mb-3">
    <div class="col">
      <h5 class="pt-3 rom-text-navy-blue">Reset Password</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-danger" *ngIf="changePwdForm.invalid && changePwdFormDir.submitted">
        <span *ngIf="changePwdForm.controls['frmPassword'].hasError('required') || changePwdForm.controls['frmPassword'].hasError('blank')">Password is required.</span>
        <span *ngIf="changePwdForm.controls['frmPassword'].hasError('password')">Password should be 8 - 15 characters.</span>
      </div>
      <form [formGroup]="changePwdForm" #changePwdFormDir="ngForm" (submit)="onChangePassword($event)" class="pr-3">
        <div class="form-group">
          <input type="text"
            class="form-control form-control-sm dark-input"
            placeholder="Enter New Password"
            id="password"
            name="password"
            formControlName="frmPassword"
            required>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-secondary btn-sm rom-bg-japanese-laurel border-0 shadow line-height-xm-small" style="width: 23vw;">
              SUBMIT
              <i *ngIf="isLoading" class="fa fa-spinner fa-pulse fa-fw"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <rom-initial-tree></rom-initial-tree>
    </div>
  </div>
</ng-template>
